<html lang="ko">
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    div#app { padding: 30px; margin: 30px auto; max-width: 600px; 
      border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa;  }
    span { display: inline-block; margin: 5px; padding: 8px 15px; 
      border: 1px solid black; cursor: pointer; }
    div#app > div { margin-top: 20px; }
    button { padding: 0.5em 2em; }
    input[type=text]{width:300px; height:40px;}
  </style>
</head>
<body>
  <div id="app">
    <div>
    <input type="text" v-model="number"/>
      <button type="button" v-on:click="made">생성</button>
    </div><br/>
    <span v-for="i in a">
        {{ i }}
    </span>
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        a: [],
        number : 0
      },
      methods: {
        made() {
        this.a = [];
          for(let i=0;i<this.number;i++){
            let value = Math.floor(Math.random()*(9-0+1)+0);
            this.a.push(value);
          }
        }
      }
    })
   </script>
</body>    
</html>